{% load staticfiles %}
<html>
	<div class="w3-container w3-theme">
	<div class=w3-row>
	<div class="w3-col" style="width:5%;min-height:1px"></div>
	<head>
		<title> DaletWebGo </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/w3.css' %}">
		<link rel="stylesheet" href="{% static 'css/w3-theme-teal.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	</head>
	<header class="w3-theme">
	<h2>DaletWebGo</h2>
	{% include "wavfinder/navbar.html" %}
	</header>
	{% comment %}
	<div class="w3-rest w3-padding w3-white">
	<div class="w3-col w3-theme" style="width:15px;height:100%;min-height:100%"></div>
	<div class="w3-col" style="width:50px" />
	{% endcomment %}
	<div class="w3-row">
		<div class="w3-col" style="width:5%;min-height:1px"></div>
		<div class="w3-col w3-padding w3-white" style="width:90%; min-height:75%">
			{% block content %}
			{% endblock %}
		</div>
		<div class="w3-col" style="width:5%;min-height:1px"></div>
	</div>
	</div>
	<footer class="w3-container w3-theme" style="margin-left:5%">
	<!--<h5>DaletWebGo</h5>-->
	<p class="w3-opacity">Finn wav filer, lag mp3, og last dem opp til ftp, det er jo lett som bare det!</p>
	</footer>
	</div>
</html>
