{% load staticfiles %}
<html>
	<head>
		<title> DaletWebGo </title>
		<link rel="stylesheet" href="{% static 'css/w3.css' %}">
		<link rel="stylesheet" href="{% static 'css/w3-theme-teal.css' %}">
	</head>
	<header class="w3-container w3-theme">
	<h2>DaletWebGo</h2>
	<ul class="w3-navbar w3-theme">
	<li><a href="#">Hjem</a></li>
	<li><a href="#">Jobbstatus</a></li>
	</ul>
	</header>

	<div class="w3-padding w3-white">
	<h2>Finn wav filer</h2>
	<p>Her kan du søke opp wav filer fra filområdet til Dalet. Skriv inn filnavn og trykk søkeknappen.</p>

	<form action="." method="post">
		{% csrf_token %}
		<input type="text" name="search" id="id_search" />
		<input type="submit" value="Søk" />
	</form>

	<P>Du har ikke gjort noe søk enda, men her er de de nyeste filene som er laget i Dalet, kanskje du er på utkikk etter en av disse?</p>
	</div>
	<footer class="w3-container w3-theme">
	<!--<h5>DaletWebGo</h5>-->
	<p class="w3-opacity">Finn wav filer og last dem opp til ftp, det er jo lett som bare det!</p>
	</footer>
</html>
